{% extends 'base.html' %}
  
{% block title %}Change Password{% endblock %}
{% block content %}
<a style="color:greenyellow;" href="/profile" class="btn btn-danger"><h3 style="color:greenyellow;">Back</h3></a>
<h2>Change Password for Account {{ user.username }}</h2>
<hr>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <hr>
  <button type="submit" class="btn btn-success">Change Password</button>
</form>
{% endblock %}